In [1]:
import pandas as pd
import numpy as np

In [2]:
path = '/home/vagrant/practicas/fuerocomunmunicipios.csv'
df = pd.read_csv(path, encoding='latin', low_memory=True)
df.head()

,state_code,mun_code,year,month,crime,category,type,subtype,count,population
0,1,1,2011,1,DELITOS PATRIMONIALES,DELITOS PATRIMONIALES,ABUSO DE CONFIANZA,ABUSO DE CONFIANZA,44.0,811483
1,1,1,2011,2,DELITOS PATRIMONIALES,DELITOS PATRIMONIALES,ABUSO DE CONFIANZA,ABUSO DE CONFIANZA,43.0,812551
2,1,1,2011,3,DELITOS PATRIMONIALES,DELITOS PATRIMONIALES,ABUSO DE CONFIANZA,ABUSO DE CONFIANZA,34.0,813619
3,1,1,2011,4,DELITOS PATRIMONIALES,DELITOS PATRIMONIALES,ABUSO DE CONFIANZA,ABUSO DE CONFIANZA,21.0,814686
4,1,1,2011,5,DELITOS PATRIMONIALES,DELITOS PATRIMONIALES,ABUSO DE CONFIANZA,ABUSO DE CONFIANZA,35.0,815754

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5740636 entries, 0 to 5740635
Data columns (total 10 columns):
state_code    int64
mun_code      int64
year          int64
month         int64
crime         object
category      object
type          object
subtype       object
count         float64
population    int64
dtypes: float64(1), int64(5), object(4)
memory usage: 438.0+ MB

In [9]:
df.columns.values.tolist()

['state_code',
 'mun_code',
 'year',
 'month',
 'crime',
 'category',
 'type',
 'subtype',
 'count',
 'population']

In [10]:
df.shape

(5740636, 10)

In [11]:
df.dtypes

state_code      int64
mun_code        int64
year            int64
month           int64
crime          object
category       object
type           object
subtype        object
count         float64
population      int64
dtype: object

In [13]:
df.isnull().any().any()

True

In [14]:
df.columns[df.isnull().any()].tolist()

['count']

In [15]:
df.crime.value_counts()

ROBOS                               3218334
LESIONES                             695856
HOMICIDIOS                           695820
DELITOS PATRIMONIALES                608804
OTROS DELITOS                        347880
DELITOS SEXUALES                      86972
PRIV. DE LA LIBERTAD (SECUESTRO)      86970
Name: crime, dtype: int64

In [16]:
df.groupby('state_code').agg(['count', 'size', 'nunique']).stack()

                    mun_code    year   month   crime  category    type  \
state_code
1          count       29040   29040   29040   29040     29040   29040
           size        29040   29040   29040   29040     29040   29040
           nunique        11       4      12       7        10      18
2          count       13200   13200   13200   13200     13200   13200
           size        13200   13200   13200   13200     13200   13200
           nunique         5       4      12       7        10      18
3          count       13200   13200   13200   13200     13200   13200
           size        13200   13200   13200   13200     13200   13200
           nunique         5       4      12       7        10      18
4          count       29040   29040   29040   29040     29040   29040
           size        29040   29040   29040   29040     29040   29040
           nunique        11       4      12       7        10      18
5          count      100320  100320  100320  100320    100320  100320
           size       100320  100320  100320  100320    100320  100320
           nunique        38       4      12       7        10      18
6          count       26400   26400   26400   26400     26400   26400
           size        26400   26400   26400   26400     26400   26400
           nunique        10       4      12       7        10      18
7          count      311520  311520  311520  311520    311520  311520
           size       311520  311520  311520  311520    311520  311520
           nunique       118       4      12       7        10      18
8          count      176880  176880  176880  176880    176880  176880
           size       176880  176880  176880  176880    176880  176880
           nunique        67       4      12       7        10      18
9          count       42108   42108   42108   42108     42108   42108
           size        42108   42108   42108   42108     42108   42108
           nunique        16       4      12       7        10      18
10         count      102960  102960  102960  102960    102960  102960
           size       102960  102960  102960  102960    102960  102960
           nunique        39       4      12       7        10      18
...                      ...     ...     ...     ...       ...     ...
23         count       26400   26400   26400   26400     26400   26400
           size        26400   26400   26400   26400     26400   26400
           nunique        10       4      12       7        10      18
24         count      114114  114114  114114  114114    114114  114114
           size       114114  114114  114114  114114    114114  114114
           nunique        58       4      12       7        10      18
25         count       47520   47520   47520   47520     47520   47520
           size        47520   47520   47520   47520     47520   47520
           nunique        18       4      12       7        10      18
26         count      168828  168828  168828  168828    168828  168828
           size       168828  168828  168828  168828    168828  168828
           nunique        72       4      12       7        10      18
27         count       43494   43494   43494   43494     43494   43494
           size        43494   43494   43494   43494     43494   43494
           nunique        17       4      12       7        10      18
28         count      107844  107844  107844  107844    107844  107844
           size       107844  107844  107844  107844    107844  107844
           nunique        43       4      12       7        10      18
29         count      154440  154440  154440  154440    154440  154440
           size       154440  154440  154440  154440    154440  154440
           nunique        60       4      12       7        10      18
30         count      515064  515064  515064  515064    515064  515064
           size       515064  515064  515064  515064    515064  515064
           nunique       212       4      12       7        10      18
31         count      273042  273042  273042  273042    273042  273042
           size       273042  273042  273042  273042    273042  273042
           nunique       106       4      12       7        10      18
32         count      114576  114576  114576  114576    114576  114576
           size       114576  114576  114576  114576    114576  114576
           nunique        58       4      12       7        10      18

                    subtype   count  population
state_code
1          count      29040   28904       29040
           size       29040   29040       29040
           nunique       29     219         440
2          count      13200    5392       13200
           size       13200   13200       13200
           nunique       29     521         200
3          count      13200   10200       13200
           size       13200   13200       13200
           nunique       29     215         200
4          count      29040   28973       29040
           size       29040   29040       29040
           nunique       29      37         439
5          count     100320   72473      100320
           size      100320  100320      100320
           nunique       29     216        1482
6          count      26400   26400       26400
           size       26400   26400       26400
           nunique       29     113         400
7          count     311520   77854      311520
           size      311520  311520      311520
           nunique       29     123        4505
8          count     176880   17750      176880
           size      176880  176880      176880
           nunique       29     336        2405
9          count      42108   42072       42108
           size       42108   42108       42108
           nunique       29     402         635
10         count     102960    8578      102960
           size      102960  102960      102960
           nunique       29     229        1485
...                     ...     ...         ...
23         count      26400   25872       26400
           size       26400   26400       26400
           nunique       29     210         400
24         count     114114  114114      114114
           size      114114  114114      114114
           nunique       29     186        1619
25         count      47520   29520       47520
           size       47520   47520       47520
           nunique       29     235         710
26         count     168828   32922      168828
           size      168828  168828      168828
           nunique       29     199        2062
27         count      43494   43490       43494
           size       43494   43494       43494
           nunique       29     296         658
28         count     107844   72604      107844
           size      107844  107844      107844
           nunique       29     168        1492
29         count     154440  154307      154440
           size      154440  154440      154440
           nunique       29      36        2248
30         count     515064  114144      515064
           size      515064  515064      515064
           nunique       29     163        7015
31         count     273042   31378      273042
           size      273042  273042      273042
           nunique       29     303        3580
32         count     114576   45276      114576
           size      114576  114576      114576
           nunique       29     127        1566

[96 rows x 9 columns]

In [ ]:
df_sample = df.sample(frac=0.05, random_state=1)
df_sample.head()